import React from "react"
import "./{{pascalCase name}}.component.scss"

interface {{pascalCase name}}Props {}

const {{pascalCase name}} = (props: {{pascalCase name}}Props): JSX.Element => {
  return <div className="c-{{pascalCase name}}">In Component {{pascalCase name}}</div>
}

export default {{pascalCase name}}
